<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="miniEclipse" sequenceNumber="4">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.source.feature.group" version="4.3.2.v20140221-1700"/>
<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.2.0.v20140221-1852"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20140221-1852"/>
<unit id="org.eclipse.rcp.feature.group" version="4.3.2.v20140221-1700"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.9.2.v20131212-0545"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.9.2.v20131212-0545"/>
<unit id="org.eclipse.platform.ide" version="4.3.2.M20140221-1700"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3/"/>
</location>
</locations>
</target>
